@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

.landing {
  background: #151515 url('../images/shubham-dhage-NsPqV-WsZYY-unsplash.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-height: 100vh;
}

.landing::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 30, 0.8);
} 

.navbar {
  z-index: 12;
  background-color: #161618;
}

.navbar-collapse {
  background-color: rgba(22, 22, 24, 0.75);
  transition: background-color 0.3s ease-in-out; /* Smooth background transition */
}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 217, 249, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  outline: none;
  box-shadow: none;
}


.header .text-container {
  z-index: 10;
}

.header .image-container {
  z-index: 10;
}

.logo {
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #EDEDED;
  }
 
  .nav-item {
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
  
  }

  .nav-link {
    color: #EDEDED;
  }

  .navbar .nav-link:hover {
    color: #00D9F9 !important; /* Add !important to override any conflicts */
  }
  

  .text-container {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    text-align: center;      /* Centers text within the element */
    height: 100%;            /* Ensures the container takes full height */
  }
  
  .image-container img {
    width: 90%;    /* Ensures the image fills the width of its container */
    height: auto;   /* Maintain aspect ratio */
    max-height: 80vh; /* Limits the height of the image to 80% of the viewport height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  

  .about-img {
    width: 200px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
  

  @media (max-width: 992px) {
    #type-header {
      order: 2; /* Makes the text column appear second */
    }
    #profile-header {
      order: 1; /* Makes the image column appear first */
      padding-bottom: 40px;
    }
    #fade-in-text {
        font-size: 1;
    }
    .image-container img {
      max-width: 50%; /* Optionally, limit the size on smaller screens */
    }
  }
  

  