  <!--Footer-->
  <section class="bg-dark">
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-md-0 text-light">© 2025 TeachWeaver</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="align-items-center ms-3">
            <a href="https://mastodon.social/@teachweaver" rel="me">
              <i class="fa-brands fa-mastodon"></i>
            </a>
          </li>
          <li class="align-items-center ms-3">
            <a href="https://www.linkedin.com/in/ben-weaver-a63a452ab/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="align-items-center ms-3">
            <a href="https://github.com/bgweaver">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="align-items-center ms-3">
            <a href="mailto:bengweaver@protonmail.com">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </section>
