    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-lg py-3" style="min-height: 80px;">
      <div class="container-fluid px-0">
        <a href="/index.html" class="navbar-brand">
          <h4 class="mb-0 logo text-light px-3">teachweaver</h4>
        </a>
        <button class="navbar-toggler pe-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-1" id="navbarNavDropdown">
          <ul class="navbar-nav px-3">
            <li class="nav-item"><a class="nav-link text-light" href="/index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/about.html">About</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/projects.html">Projects</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/lab.html">Lab</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/about.html#contact">Contact</a></li>
          </ul>
          <ul class="navbar-nav ms-auto d-flex align-items-center px-3">
            <li class="nav-item">
              <a class="nav-link text-light" href="https://mastodon.social/@packetshepherd" rel="me" aria-label="Mastodon">
                <i class="fa-brands fa-mastodon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="https://www.linkedin.com/in/ben-weaver-a63a452ab/"
                aria-label="LinkedIn">
                <i class="fab fa-linkedin ps-1"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="https://github.com/bgweaver" aria-label="GitHub">
                <i class="fab fa-github ps-1"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
