---
title: "teachweaver: How I Got Into Programming"
postTitle: "How I Got Into Programming"
date: 2024-01-06
postDate: "Jan 6th, 2024"
description: "An elementary school teacher getting into programming and development. From no-code apps to programming insights, this post documents my experience."
keywords: "programming, development, teaching, no-code, educational tools, gamification, Glide Apps"
ogTitle: "teachweaver - How I Got Into Programming"
ogDescription: "An elementary school teacher getting into programming and development. From no-code apps to programming insights, this post documents my experience."
ogImage: "https://www.teachweaver.com/images/techteacher.avif"
ogUrl: "https://www.teachweaver.com/posts/learning-journey-programming/"
image: "/images/techteacher.avif"
imageAlt: "Teacher with computer"
listDescription: "As an elementary school teacher, teaching has always pushed me to find new ways to reach my students and enhance their learning experience. Recently, I have taken a keen interest in programming and development..."
---
<figure class="wp-block-image size-large text-center">
            <img src="/images/techteacher.avif" alt="Teacher with computer" class="img-fluid rounded mx-auto d-block"
              style="max-width: 100%; height: auto;" />
          </figure>

          <p>As an elementary school teacher, teaching has always pushed me to find new ways to reach my students and enhance their learning experience. Recently, I have taken a keen interest in
            programming and development, which has opened up a whole new world of possibilities for me and my students.
          </p>
          <p>It all started when I began teaching Computer Science during online learning. I realized the importance of
            introducing them to the basics of coding and computational thinking. After developing my interest by
            learning to teach, I challenged myself to continue exploring the field. I wanted to gain a better
            understanding of how software and applications are created, and how I could use this to build educational tools for my students.</p>
          <p>Along the way I ran into no-code development using Google Sheets. That got my attention because it let people with no prior coding experience to build functional applications. Intrigued
            by the possibilities, I was able to create an exciting tool for students to access my class game, Cloudtop
            Spire. They were able to manage their character, their inventory, and even take on extra challenges when
            they were finished with other work. Robert Petito has a great YouTube series on <a
              href="https://www.youtube.com/watch?v=GqfOJdS52a0&list=PLiXRc87c6KKXcnnsS3ZKmyLyqiSFjuuNv&ab_channel=RobertPetitto"
              target="_blank">gamifying Glide Apps</a> if this is something you're interested in trying.</p>
          <p>Creating the no-code app was a great experience, but I was limited by the constraints of the free tool. As
            my app continued to evolve and no-code sites became more tailored to businesses and larger teams, and thus
            less affordable, I began to look for other ways to create my vision.</p>
          <p>I decided to document what I was learning by building this website. It collects
            different parts and projects that I have undertaken throughout my exploration of programming and
            development.</p>
          <blockquote class="blockquote">Through this website, I hope to inspire other educators and individuals who are
            interested in programming to give it a try. I think anyone can learn this in this field, regardless of their background or prior experience.</blockquote>
          <p>As I continue to learn and grow in the world of programming and development, I am eager to share my
            experiences, challenges, and insights with others. I will share tutorials, tips, and resources that I have
            found helpful along the way to make programming more accessible and enjoyable for all.</p>
          <p>So, whether you are a fellow educator, a student, or simply someone curious about programming, stick around. There's a lot to dig into in programming and
            development, and discover the endless possibilities it holds for education and beyond.</p>
          <span class="caption text-muted">A colorful and dynamic image that evokes creativity and innovation,
            reflecting the exciting possibilities of exploring programming.</span>
