---
title: "teachweaver: Digital Makeover: Transforming A Local Business' Website"
postTitle: "Digital Makeover: Transforming A Local Business' Website"
date: 2024-05-05
postDate: "May 5, 2024"
description: "In this post, I share my experience in giving a local business' outdated website a modern, mobile-friendly makeover using Bootstrap. The project features simplified content, updated galleries, and a focus on easy customer interaction."
keywords: "web design, web development, Bootstrap, local business, website redesign, yard art"
ogTitle: "teachweaver - Digital Makeover: Transforming A Local Business' Website"
ogDescription: "In this post, I share my experience in giving a local business' outdated website a modern, mobile-friendly makeover using Bootstrap. The project features simplified content, updated galleries, and a focus on easy customer interaction."
ogImage: "https://teachweaver.com/images/yard-art.jpg"
ogUrl: "https://www.teachweaver.com/posts/yard-art-website-makeover/"
image: "/images/yard-art.jpg"
imageAlt: "Yard Art website"
listDescription: "Yard Art was the top result on Google for local yard sign companies, but during my shopping, I noticed their website was outdated and lacked modern features. Seeing a chance to blend my coding skills with support for local businesses, I decided to give their online platform a facelift..."
---
<figure class="wp-block-image size-large text-center">
            <img src="/images/yard-art.jpg" alt="Yard Art Website" class="img-fluid rounded mx-auto d-block"
              style="max-width: 100%; height: auto;" />
          </figure>
          <p>With my wife's 40th birthday approaching, I sought a light-hearted surprise: a humorous yard sign to mark
            her milestone. I found an Indianapolis-based company offering the signs I wanted, specifically one welcoming
            my wife into the "Lordy, Lordy" decade. When she caught a glimpse of my plan and was less than enthused, I
            pivoted to a different endeavor: updating a local yard sign company's website.</p>
          <p>Yard Art was the top result on Google for local yard sign companies, but during my shopping, I noticed
            their website was outdated and lacked modern features. Seeing a chance to blend my coding skills with
            support for local businesses, I decided to give <a href="http://ayardart.com">their online platform</a> a
            facelift.</p>
          <p>Using Bootstrap for its simplicity, I revamped the site's layout, keeping the original color scheme but simplifying galleries and condensing content onto a single page. Since the company does not take online
            orders, I wanted to simplify their landing page and make it easy for potential customers to see the offered
            services and then call to set up a delivery. In its current form, the site has an excess amount of text and
            some unnecessary pages that I worked to condense and refine.</p>
          <div class="wp-block-media-text is-stacked-on-mobile" style="grid-template-columns:31% auto">
            <div class="wp-block-media-text__content">
              <p>One aspect of the project that I'm particularly proud of is the implementation of three visually
                appealing galleries, each showcasing the main types of signs the company provides. This kept the
                presence of the company's work that was so heavily featured in their original site while keeping the
                design tidy and contained. Crafting this component required combining different elements and customizing them to fit the site's design. You can view <a
                  href="https://bgweaver.github.io/yardart/">my live version here</a> via GitHub Pages. The <a
                  href="https://github.com/bgweaver/yardart">project repository</a> is also available in my GitHub
                collection.</p>
            </div>
          </div>
          <p>After completing the project, I reflected on the lessons learned and the skills gained. While I offered to
            implement the changes for the company, I'm still awaiting their response. Nevertheless, I consider this
            project a success, a tangible achievement and an opportunity for personal growth.</p>
          <p>As I continue to refine my skills and tackle new challenges, I'm grateful for the chance to contribute
            positively to local businesses and communities through my technical abilities.</p>
